body {
  color: #fff !important;
  font-size: 15px !important;
}
h1 {
  color: red;
}
.img1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}
.modal-body img {
  width: 500px;
  height: 600px;
}
.main {
  margin-left: 20%;
  margin-right: 20%;
}
.nav1 {
  background-color: #033630;
  display: flex;
  z-index: 2;
  position: sticky;
  top: 0;
}
.my-details {
  margin-top: 20px;
  line-height: 5px;
}
.my-details .time {
  color: #b2babb;
  font-size: 12px;
}
.my-details .Name {
  font-size: 20px;
}
.first {
  background-color: #075e54;
  width: 320px;
  /* height: auto;*/
  padding: 10px;
  margin-top: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  line-height: 20px;
}

.footer {
  margin-left: 20%;
  margin-right: 20%;
}

.footer input {
  /*
  position: relative;
  left: 100px;
  */
  width: 30vw;
  border-radius: 10px;
  height: 40px;
  background-color: #fff !important;
  border: 1px solid rgb(1, 51, 34);
  color: black;
  margin-left: 10vw;
  margin-right: 2vw;
}

.footer-container {
  background-color: #033630;

  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.btn-send {
  /*
  position: relative;
  left: 120px;
  */

  color: black !important;
}
.second {
  background-color: #075e54;
  width: 300px;
  height: auto;
  padding: 10px;
  margin-top: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  line-height: 20px;
  /*margin-bottom: 62px;*/
  width: 320px;
  overflow: auto;
}
.yourword {
  background-color: #075e54;
  height: auto;
  margin: 10px;
  float: right;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

a {
  color: chartreuse !important;
  text-decoration: none !important;
  font-size: 20px !important;
  font-weight: 700 !important;
}

/*

@media only screen and (min-width: 325px) {
  .footer input {
    position: relative;
    font-size: 25px !important;
    left: 40px;
    width: 150px;
    margin: 10px;
    border-radius: 10px;
    height: 40px;
    background-color: rgb(13, 92, 68);
  }
  .btn-send {
    position: relative;
    left: 40px;
    color: black !important;
    padding: 10px;
    border-radius: 10px;
  }
  .footer {
    background-color: #075e54;
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media only screen and (min-width: 576px) {
  .footer input {
    position: relative;
    left: 50px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    height: 40px;
  }
  .btn-send {
    position: relative;
    left: 50px;
    color: black !important;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(8, 124, 118);
    border: none;
  }
  .footer {
    background-color: #075e54;
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media only screen and (min-width: 768px) {
  .footer input {
    position: relative;
    left: 60px;
    width: 250px;

    border-radius: 10px;
    height: 40px;
  }
  .btn-send {
    position: relative;
    left: 80px;
    color: black !important;
    padding: 10px;
    border-radius: 10px;
  }
  .main {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media only screen and (min-width: 992px) {
  .footer input {
    position: relative;
    left: 100px;
    width: 300px;

    border-radius: 10px;
    height: 40px;
  }
  .btn-send {
    position: relative;
    left: 120px;
    color: black !important;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
  }
  .main {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media only screen and (min-width: 1200px) {
  .footer input {
    position: relative;
    left: 100px;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    height: 40px;
  }
  .btn-send {
    position: relative;
    left: 120px;
    color: black !important;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
  }
  .main {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media only screen and (min-width: 1400px) {
  .footer input {
    position: relative;
    left: 140px;
    width: 500px;
    margin: 10px;
    border-radius: 10px;
    height: 40px;
  }
  .btn-send {
    position: relative;
    left: 130px;
    color: #fff !important;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
  }
  .main {
    margin-left: 20%;
    margin-right: 20%;
  }
}
*/

/* Media Query*/
@media only screen and (min-width: 325px) {
  .main {
    margin-left: 0%;
    margin-right: 0%;
  }
  .first {
    width: 279px;
  }

  .yourword {
    background-color: #075e54;
    height: 63px;
    margin-top: 10px;
    float: right;
    padding: 8px;
  }
  .second {
    width: 279px;
  }
  .footer {
    margin-left: 0%;
    margin-right: 0%;
  }

  .footer input {
    width: 50vw;
  }
}

@media only screen and (min-width: 576px) {
  /*
  .footer input {
    position: relative;
    left:100px;
    width: 300px;
    border-radius: 10px;
    height:30px;
    background-color: #fff !important;
    border: 1px solid rgb(1, 51, 34);
    color: black;
  }

  .btn-send {
    position: relative;
    left:130px;
    color: black !important;
  }
  */
}

@media only screen and (min-width: 768px) {
  .main {
    margin-left: 20%;
    margin-right: 20%;
  }

  .footer input {
    width: 30vw;
  }

  .footer {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1400px) {
}
